body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  /* color: #2c3e50; */
  color: #ffffff;
  font-size: 15px;
  line-height: 35px;
}
.cont {
  /* max-width: 1200px; */
  max-width: clamp(550px, 80vw, 1200px);
  margin-inline: auto;
  padding-inline: 1rem;
}

.h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}

.btn {
  display: inline-block;
  text-align: center;
  text-wrap: nowrap;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  min-width: 150px;
  font-size: 15px;
  padding: 8px 20px;
  transition: background-color 0.3s;
  border-radius: 4px;
  line-height: normal;
}

.btn-outline {
  border: 1.5px solid #fff;
  color: #fff;
}

.btn-outline:hover {
  border-color: #2c3e50;
  background-color: #2c3e50;
  color: #fff;
}

.btn-primary {
  border: 1.5px solid #5fcf80;
  background: #5fcf80;
  color: #fff;
}

.btn-primary:hover {
  border-color: #2c3e50;
  background-color: #2c3e50;
}

.btn-secondary {
  border: 1.5px solid;
  border-color: #2c3e50;
  background-color: #2c3e50;
  color: #ffffff;
  outline: white;
}

.btn-secondary:hover {
  border-color: #36495b;
  background-color: #36495b;
}

.bg-dark {
  background-color: #2c3e50;
}
.h2 {
  font-size: 2.25rem /* 36px */;
  line-height: 2.5rem /* 40px */;
  font-weight: 700;
  text-wrap: balance;
}
.h3 {
  font-size: 1.5rem;
  font-family: "Source Serif Pro", serif;
  font-weight: 600;
}
.eyebrow {
  font-family: "Source Serif Pro", serif;
  font-weight: 600;
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
}

.fadeIn {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.li-deco li {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  margin-inline: auto;
}
.li-deco.no-grid li {
  width: max-content;
  text-align: center;
}

.li-deco li::before {
  content: url("/images/arrow.png");
}
.li-deco.check li::before {
  content: url("/images/check.svg");
  width: 16px;
}
.heading-bg-img {
  background-image: url("../assets/images/hero-bg.jpg");
}
.cash-bg-img {
  background-image: url("../assets/images/cash-bg.png");
}
.tab-header a:focus {
  outline: none;
  box-shadow: 0 0 0 3px hsla(106, 100%, 50%, 0.8);
}
.tab-header img {
  filter: invert(95%) sepia(93%) saturate(33%) hue-rotate(71deg)
    brightness(106%) contrast(99%);
}

.tab-header a:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

[aria-selected="true"] img{
  filter: invert(81%) sepia(13%) saturate(1633%) hue-rotate(81deg) 
     brightness(89%) contrast(86%);

}