body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  /* color: #2c3e50; */
  color: #ffffff;
  font-size: 15px;
  line-height: 35px;
}

.h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}

.btn {
  display: inline-block;
  text-align: center;
  text-wrap: nowrap;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  min-width: 150px;
  font-size: 15px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.btn-outline {
  border: 1.5px solid #fff;
  color: #fff;
}

.btn-outline:hover {
  border-color: #2c3e50;
  background-color: #2c3e50;
  color: #fff;
}

.btn-primary {
  border: 1.5px solid #5fcf80;
  background: #5fcf80;
  color: #fff;
}

.btn-primary:hover {
  border-color: #2c3e50;
  background-color: #2c3e50;
}

.btn-secondary {
  border: 1.5px solid;
  border-color: #2c3e50;
  background-color: #2c3e50;
  color: #ffffff;
}

.btn-secondary:hover {
  border-color: #36495b;
  background-color: #36495b;
}

.bg-dark {
  background-color: #2c3e50;
}
.h2 {
  font-size: 2.25rem /* 36px */;
  line-height: 2.5rem /* 40px */;
  font-weight: 700;
  text-wrap: balance;
}
.h3 {
  font-size: 1.5rem;
  font-family: "Source Serif Pro", serif;
  font-weight: 600;
}
.eyebrow {
  font-family: "Source Serif Pro", serif;
  font-weight: 600;
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
}

.fadeIn {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.checkmark-deco li {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
}
.checkmark-deco li::before {
  content: url("/images/arrow.png");
}

.heading-bg-img {
  background-image: url("../assets/images/hero-bg.jpg");
}
.tab-header img {
  filter: invert(95%) sepia(93%) saturate(33%) hue-rotate(71deg)
    brightness(106%) contrast(99%);
}
.tab-header.active img,
.tab-header:hover img {
  filter: invert(81%) sepia(13%) saturate(1633%) hue-rotate(81deg)
    brightness(89%) contrast(86%);}