---
import Layout from "../layouts/Layout.astro";
import Form from "../components/Form.astro";
import Why from "../components/Why.astro"

import { Image } from "astro:assets";



const page = "how";
---


  <Layout title="How It Works | JL Home Sale">
    <section class="heading-bg-img text-white">
      <div class="cont pb-12">
        <h1 class="h1 pt-12">Sell Your Home</h1>
        <p class="font-medium text-3xl mt-4">Sell Your House Today</p>
        <p class="mt-4 mb-8 font-bold">
          No Fees, No Commissions, No Repairs Needed
        </p>
        <Form page={page} />
      </div>
    </section>
    
    <Why page={page}></Why>
  </Layout>


<style></style>
