---
import Step2Form from "../components/Step2Form.astro";
import Why from "../components/Why.astro";
import Layout from "../layouts/Layout.astro";
const page = "step-2";
const breadcrumb = "Step 2";
---

<Layout title="Step 2 | JL Home Sale" >
  <!-- Header -->
  <section class="heading-bg-img text-white">
    <div class="cont pb-12">
      <h1 class="h1 pt-12">Get Your Cash Offer</h1>
      <div class="breadcrumbs">
        <span class="flex gap-2"
          >Home <img src="../../public/images/arrow.png" class="object-contain" /> Get Your
          Cash Offer</span
        >
      </div>
      <!-- <Form page={page} /> -->
    </div>

    <div class="cont pb-24">
      <Step2Form />
    </div>
  </section>
  <section>
  <Why page={page} />
</section>
</Layout>
<script>
  gtag("event", "conversion", {
    send_to: "AW-11160695389/zm3GCLrl3JwYEN3k6skp",
  });
</script>
<style>.heading-bg-img {
    background-image: url("../assets/images/hero-bg.jpg");
  }</style>
