---
import Step2Form from "../components/Step2Form.astro";
import Why from "../components/Why.astro";
import Layout from "../layouts/Layout.astro";
const page = "step-2";
const breadcrumb = "Step 2";
---

<Layout>
  <!-- Header -->
  <section class="heading-bg-img text-white">
    <div class="cont pb-12">
      <h1 class="h1 pt-12">Sell Your Home</h1>
      <p class="font-medium text-3xl mt-4">Sell Your House Today</p>
      <p class="mt-4 mb-8 font-bold">Home <img class="inline" src="/images/arrow.png"></img> {breadcrumb}</p>

      <Step2Form page={page}/>
    </div>
  </section>
  <Why page={page} />
</Layout>
<script>
  gtag("event", "conversion", {
    send_to: "AW-11160695389/zm3GCLrl3JwYEN3k6skp",
  });
</script>
<style>
.step-2-hero {
    background: transparent url("../assets/images/hero-bg.jpg") repeat 0 0;
  }

</style>