---
const page = "step-2";
---

<form
  id={`${page}-form`}
  name={`${page}-form`}
  class="z-10 py-4 px-4 bg-white text-black max-w-[800px]"
  method="POST"
  ,
  action="https://hooks.zapier.com/hooks/catch/9846372/36ilapb/"
>
  <div class="form-row grid sm:grid-cols-2">
    <div class="inputWrapper">
      <input
        required
        id="first_name"
        name="first_name"
        type="text"
        placeholder=""
      />
      <label class="formLabel relative" for="first_name">First Name:</label>
    </div>

    <div class="inputWrapper">
      <input
        required
        id="last_name"
        name="last_name"
        type="text"
        placeholder=""
      />
      <label class="formLabel relative" for="last_name">Last Name:</label>
    </div>
  </div>

  <div class="form-row grid sm:grid-cols-2">
    <div class="inputWrapper">
      <input required id="email" name="email" type="email" placeholder="" />
      <label class="formLabel relative" for="email"> Email: </label>
    </div>
    <div class="inputWrapper">
      <input required id="phone" name="phone" type="tel" placeholder="" />
      <label class="formLabel relative" for="phone"> Phone: </label>
    </div>
  </div>
  <div class="inputWrapper">
    <input required id="street" name="street" type="text" placeholder="" />
    <label class="formLabel relative" for="street">Street:</label>
  </div>
  <div class="form-row grid sm:grid-cols-6">
    <div class="inputWrapper col-span-3">
      <input required id="city" name="city" type="text" placeholder="" />
      <label class="formLabel relative" for="city">City:</label>
    </div>
    <div class="inputWrapper col-span-2">
      <input required id="state" name="state" type="text" placeholder="" />
      <label class="formLabel relative" for="state">State:</label>
    </div>
    <div class="inputWrapper">
      <input required id="zip" name="zip" inputmode="numeric" placeholder="" />
      <label class="formLabel relative" for="zip">Zip:</label>
    </div>
  </div>
  <div class="form-row grid sm:grid-cols-3">
    <div class="inputWrapper">
      <input
        
        id="bedrooms"
        name="bedrooms"
        inputmode="numeric"
        placeholder=""
      />
      <label class="formLabel relative" for="bedrooms">Bedrooms:</label>
    </div>
    <div class="inputWrapper">
      <input
        
        id="bathrooms"
        name="bathrooms"
        inputmode="numeric"
        placeholder=""
      />
      <label class="formLabel relative" for="bathrooms">Bathrooms:</label>
    </div>
    <div class="inputWrapper">
      <input
        
        id="square_footage"
        name="square_footage"
        inputmode="numeric"
        placeholder=""
      />
      <label class="formLabel relative" for="square_footage"
        >Square Footage:</label
      >
    </div>
    <div class="inputWrapper">
      <input  id="pool" name="pool" type="text" placeholder="" />
      <label class="formLabel relative" for="pool">Pool:</label>
    </div>
    <div class="inputWrapper">
      <input
        
        id="age_of_hvac"
        name="age_of_hvac"
        type="text"
        placeholder=""
      />
      <label class="formLabel relative" for="age_of_hvac">Age of HVAC:</label>
    </div>
    <div class="inputWrapper">
      <input
        
        id="age_of_roof"
        name="age_of_roof"
        type="text"
        placeholder=""
      />
      <label class="formLabel relative" for="age_of_roof">Age of Roof:</label>
    </div>
  </div>
  <div class="form-row grid grid-cols-1 sm:grid-cols-3">
      <div class="inputWrapper">
        <input
          
          id="asking_price"
          name="asking_price"
          type="text"
          placeholder=""
          class="w-full"
        />
        <label class="formLabel relative" for="asking_price">Asking Price:</label>
      </div>
      <div class="inputWrapper col-span-2">
        <input
          
          id="reason_for_selling"
          name="reason_for_selling"
          type="text"
          placeholder=""
        />
        <label class="formLabel relative" for="reason_for_selling"
          >Reason for Selling:</label
        >
      </div>
  </div>
  <div class="form-row grid sm:grid-cols-2">
      <div class="inputWrapper">
        <input
          
          id="tenant_duration"
          name="tenant_duration"
          type="text"
          placeholder=""
        />
        <label class="formLabel relative" for="tenant_duration"
          >Tenant Duration:</label
        >
      </div>
      <div class="inputWrapper">
        <input
          
          id="lease_end"
          name="lease_end"
          type="text"
          placeholder=""
        />
        <label class="formLabel relative" for="lease_end">Lease End:</label>
      </div>
      <div class="inputWrapper">
        <input
          
          id="tenant_monthly_rent"
          name="tenant_monthly_rent"
          type="text"
          placeholder=""
        />
        <label class="formLabel relative" for="tenant_monthly_rent"
          >Tenant Monthly Rent:</label
        >
      </div>
      <div class="inputWrapper">
        <input
          
          id="vacancy_duration"
          name="vacancy_duration"
          type="text"
          placeholder=""
        />
        <label class="formLabel relative" for="vacancy_duration"
          >Vacancy Duration:</label
        >
      </div>
  </div>
  <div class="inputWrapper">
    <textarea
      
      id="house_additional_info"
      name="house_additional_info"
      placeholder=""
    />
    <label class="formLabel relative" for="house_additional_info"
      >House Additional Info:</label
    >
  </div>

  <div class="g-recaptcha mt-8" data-sitekey="6Lc3xSgrAAAAAH2prItylKmJkQh1vvVJ3N_J_JXL" data-callback="onSubmit"></div>

  <button id="form-submit" type="submit" class="mt-8 btn btn-primary">
    Get Your Cash Offer
  </button>
</form>

<style>
  .inputWrapper {
    color: black;
    position: relative;
    font-size: 1rem;
    margin: 3px;
  }

  .inputWrapper label:not(.inline-label) {
    position: absolute;
    top: 20%;
    left: 1rem;

    transition: 200ms;
  }

  .inputWrapper textarea ~ :where(label) {
    top: 1.5rem;
  }
  .inputWrapper:is(:hover, :active, :focus-within) label:not(.inline-label),
  .inputWrapper > :not(:placeholder-shown) ~ label:not(.inline-label) {
    scale: 80%;
    transform-origin: top;
    top: 0rem;
    left: 0%;
    opacity: 70%;
  }
  input,
  textarea {
    @apply text-base border border-neutral-400 rounded-md  w-full;
  }
  input {
    min-height: 2rem;
    padding: 1rem 1rem 0.5rem 1rem;
    box-sizing: border-box;
  }
  textarea {
    padding: 2rem 1rem;
    box-sizing: border-box;
  }
  .form-row > * {
    flex-grow: 1;
  }
</style>

<script>
  async function postFormDataAsJson({ url, formData }) {
    const plainFormData = Object.fromEntries(formData.entries());
    const formDataJsonString = JSON.stringify(plainFormData);

    const fetchOptions = {
      method: "POST",
      body: formDataJsonString,
    };

    const response = await fetch(url,fetchOptions);

    if (!response.ok) {
      const errorMessage = await response.text();
      throw new Error(errorMessage);
    }

    return response.json();
  }

  async function handleFormSubmit(event) {
    event.preventDefault();

    const form = event.currentTarget;
    const url = form.action;

    try {
      const formData = new FormData(form);
      const responseData = await postFormDataAsJson({ url, formData });

      console.log({ responseData });
    } catch (error) {
      console.error(error);
    }
    window.location.assign("/thank-you");
  }

  const form1 = document.querySelector("form");
  form1.addEventListener("submit", handleFormSubmit);
</script>
<script>
  //retrieve session storage from step-1 and assign it to form.
  const formKeys = ["email", "phone", "street", "city", "state", "zip"];
  formKeys.forEach((key) => {
    setSessionData(key);
  });
  function setSessionData(key) {
    if (!sessionStorage.getItem(key) || key === "chk") {
      return;
    }
    document.getElementById(key).value = sessionStorage.getItem(key);
  }
</script>

<!-- Recaptcha -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
